@model IdleBusiness.Views.Models.HomeIndexVM

@if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.Business.BusinessPurchases, 30))
{
    @if (IdleBusiness.Helpers.PurchasableHelper.HasBusinessPurchasedItem(Model.Business.BusinessPurchases, 31))
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 pl-0">
                    <span class="material-icons">trending_down</span>
                </div>
                <div class="col">
                    <a href="#espionagesCollapse" data-toggle="collapse">
                        <div class="row">
                            <em>Espionages against you</em>
                        </div>
                    </a>
                    <div class="row">
                        @Model.EspionagesAgainstBusiness.Count
                    </div>
                </div>
            </div>
            <div class="collapse" id="espionagesCollapse">
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.EspionagesAgainstBusiness)
                    {
                        <li class="list-group-item">
                            <a asp-controller="Business" asp-action="Index" asp-route-id="@item.BusinessId">@item.Business.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    else
    {
        <div class="col-2 pl-0">
            <span class="material-icons">trending_down</span>
        </div>
        <div class="col">
            <div class="row">
                <em>Espionages against you</em>
            </div>
            <div class="row">
                @Model.EspionagesAgainstBusiness.Count
            </div>
        </div>
    }
}