@model IdleBusiness.Views.Models.HomeIndexVM

@if (Model.HasSeekingAlphaItem)
{
    @if (Model.HasSeekingAlphaProItem)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 pl-0">
                    <span class="material-icons">trending_up</span>
                </div>
                <div class="col">
                    <a href="#investmentsCollapse" data-toggle="collapse">
                        <div class="row">
                            <em>Investments in you</em>
                        </div>
                    </a>
                    <div class="row">
                        @Model.TotalInvestmentsInCompany
                    </div>
                </div>
            </div>
            <div class="collapse" id="investmentsCollapse">
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.InvestmentsInBusiness)
                    {
                        <li class="list-group-item">
                            <a asp-controller="Business" asp-action="Index" asp-route-id="@item.InvestingBusinessId">@item.InvestingBusiness.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 pl-0">
                    <span class="material-icons">trending_up</span>
                </div>
                <div class="col">
                    <div class="row">
                        <em>Investments in you</em>
                    </div>
                    <div class="row">
                        @Model.TotalInvestmentsInCompany
                    </div>
                </div>
            </div>
        </li>
    }
}