<div class="row w-100 justify-content-center">
    <div class="col-md-4 ml-2">
        <div class="class="card ml-2 mr-2 mt-2 w-100"">
            <h3 class="card-header bg-card-header">
                Register To Play
            </h3>
            <div class="card-body bg-light">
                <p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">Create an account</a>
                </p> 
                <p>
                    <a asp-action="CreateGuestAccount" asp-controller="Home" class="btn btn-outline-primary">Continue As a Guest</a>
                </p>
                <p>
                    To start playing, you must first create an account!
                </p>
            </div>
        </div>
    </div>
</div>