<div class="row w-100 justify-content-center">
    <div class="col-md-4 ml-2">
        <div class="card ml-2 mr-2 mt-2 w-100"">
            <h3 class="card-header bg-card-header">
                Register To Play
            </h3>
            <div class="card-body bg-light">
                <p>
                    <a class="btn btn-outline-primary" href="/Identity/Account/Register">Create an account</a>
                </p>
                <p>
                    <a asp-action="CreateGuestAccount" asp-controller="Home" class="btn btn-outline-primary">Continue As a Guest</a>
                </p>
                <p>
                    To start playing, you must first create an account!
                </p>
            </div>
        </div>
    </div>

    
</div>
<div class="row w-100 justify-content-center">
    <div class="col-md-4 ml-2">
        <div class="card ml-2 mr-2 mt-2 w-100">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-6" style="border-right: solid black 1px">
                        <div class="mb-3">
                            <span class="material-icons" style="font-size:xx-large">trending_up</span> Hire employees
                        </div>
                        <div class="mb-3">
                            <span class="material-icons" style="font-size:xx-large">attach_money</span> Make money
                        </div>
                        <div class="mb-3">
                            <span class="material-icons" style="font-size:xx-large">account_balance</span> Invest in your friends
                        </div>
                        <div class="mb-3">
                            <span class="material-icons" style="font-size:xx-large">public</span> Destroy your enemies
                        </div>
                    </div>
                    <div class="col">
                        <p class="text-muted">A fully multiplayer idle experience. Join today and compete with your friends to create the most successful business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 justify-content-center">
    <div class="col-md-2 ml-2">
        <a href='https://play.google.com/store/apps/details?id=com.idlebusiness.idlebusiness_mobile&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class="img-fluid" />
        </a>
    </div>
    <div class="col-md-2 ml-5 d-flex flex-column justify-content-center">
        <a href="https://apps.apple.com/us/app/idle-business/id1527839671?itsct=apps_box&amp;itscg=30200">
            <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1614384000&h=dd27272d184db2f65cb9207e1b193e77" alt="Download on the App Store" style="border-radius: 13px; width:80%" class="img-fluid">
        </a>
    </div>
</div>