@model IdleBusiness.Views.Models.HomeIndexVM;

@{
    ViewData["Title"] = "Home";
}

<span hidden id="unreadMessageAmount" data-message-amount="@Model.UnreadMessageAmount"></span>
<partial name="../Shared/Partials/_SimpleModal" />

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        @if (Model.Business == null || Model.Business.Name == null)
        {
            <div class="col-md-4">
                <div class="card ml-2 mr-2 mt-2 w-100">
                    <h3 class="card-header bg-card-header">
                        Create your business
                    </h3>

                    <div class="card-body bg-light">
                        <form asp-controller="Home" asp-action="CreateBusiness" method="post">
                            <div class="form-group">
                                <label for="businessName">Business Name</label>
                                <input type="text" class="form-control" id="businessName" name="businessName">
                            </div>
                            <button type="submit" class="btn btn-primary">Create Business!</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        else if (Model.Business.Sector == null && Model.Business.LifeTimeEarnings > 10000000)
        {
            <div class="col-md-4">
                <div class="card ml-2 mr-2 mt-2 w-100">
                    <h3 class="card-header bg-card-header">
                        Add a sector!
                    </h3>

                    <div class="card-body bg-light">
                        <form asp-controller="Home" asp-action="AddSectorToBusiness" method="post">
                            <div class="form-group">
                                <label for="businessProduct">Your business sector</label>
                                <input name="businessId" value="@Model.Business.Id" hidden />
                                <select class="form-control" id="businessSector" name="businessSector" asp-items="Model.AvailableSectors"></select>
                            </div>

                            <button type="submit" class="btn btn-primary">Add a sector</button>
                        </form>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="col-md-4">
                <div class="row">
                    <div class="card ml-2 mr-2 mt-2 w-100">
                        <h3 class="card-header bg-card-header">
                            @Model.Business.Name
                        </h3>

                        <div class="card-body bg-light">
                            <partial name="Partials/BusinessInformation" model="Model" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card ml-2 mr-2 mt-2 w-100">
                        <h3 class="card-header bg-card-header" data-toggle="collapse" data-target="#mostSuccessCollapse">
                            Most Successful Businesses
                        </h3>

                        <div class="card-body bg-light collapse show" id="mostSuccessCollapse">
                            <partial name="Partials/MostSuccessfulBusinesses" model="Model" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="card ml-2 mr-2 mt-2 w-100">
                        <h3 class="card-header bg-card-header" data-toggle="collapse" data-target="#purchaseCardCollapse">
                            Purchase Assets
                        </h3>

                        <div class="card-body bg-light collapse show" id="purchaseCardCollapse" style="overflow: auto; max-height:100vh;">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-employees-tab" data-toggle="tab" href="#nav-employees" role="tab">Employees</a>
                                    <a class="nav-item nav-link" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab">Items</a>
                                    <a class="nav-item nav-link" id="nav-realestate-tab" data-toggle="tab" href="#nav-realestate" role="tab">Real Estate</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-employees" role="tabpanel">
                                    <div class="row">
                                        @foreach (var item in Model.Purchasables.Where(s => s.Type.Id == 1))
                                        {
                                            <partial name="Partials/PurchasableCard" model="(Model, item)" />
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-items" role="tabpanel">
                                    <div class="row">
                                        @foreach (var item in Model.Purchasables.Where(s => s.Type.Id == 2))
                                        {
                                            <partial name="Partials/PurchasableCard" model="(Model, item)" />
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-realestate" role="tabpanel">
                                    <div class="row">
                                        @foreach (var item in Model.Purchasables.Where(s => s.Type.Id == 3))
                                        {
                                            <partial name="Partials/PurchasableCard" model="(Model, item)" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <partial name="Partials/Register" />
    }
</div>



@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#mostSuccessfulTable').DataTable({
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "bInfo": false,
                "order": [[3, "desc"]],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                    },
                ]
            });

            $('#mostSuccessfulTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                window.location.href = "/business/index/" + data[0];
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

    <script type="text/javascript" src="~/js/purchaseItem.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var messageAmount = parseInt($("#unreadMessageAmount").attr("data-message-amount"));
            if (messageAmount > 0) {
                $("#unreadMessageBadge").text(messageAmount);
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#purchase-item-1").show(500);
            var cashpersecond = parseFloat($("#businessCashPerSecond").attr("data-number-to-format"));

            setInterval(function () {
                DisableUnavailablePurchases();

                var current = parseFloat($("#businessCurrentCash").attr("data-number-to-format"));
                var newTotal = current + cashpersecond;
                $("#businessCurrentCash").attr("data-number-to-format", newTotal).trigger('numberChange');

                cashpersecond = parseInt($("#businessCashPerSecond").attr("data-number-to-format"));
            }, 1000);

            function displayUnlockedPurchables() {
                var items = $("[data-purchase-item-id]");
                var lifeTime = parseFloat($("#businessLifeTimeEarnings").attr("data-number-to-format"));
                var newTotal = lifeTime + (cashpersecond * 10);
                $("#businessLifeTimeEarnings").attr("data-number-to-format", newTotal).trigger('numberChange');
                items.each(function () {
                    var unlockPrice = parseFloat($(this).attr("data-purchase-item-unlocksatprice"));
                    var currentLifetimeEarnings = lifeTime;
                    var itemId = $(this).attr("data-purchase-item-id");
                    if (currentLifetimeEarnings > unlockPrice) {
                        $("#purchase-item-" + itemId).show(500);
                    }
                });
            }
            displayUnlockedPurchables();
            setInterval(function () {
                displayUnlockedPurchables();
            }, 10000);
        });
    </script>

    <script type="text/javascript" src="~/js/debounce.js"></script>
}
